.ramka {
    display: flex;
    flex-direction: row;
}

.header {
    padding: 0px 0px 0px 15px;
}

.rightColumn {
    flex: 1 1 auto;
    padding: 30px 30px 0px 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

.leftColumn {
    flex: 1 0 auto;
    width: 400px;
    padding: 30px 0px 15px 15px;
    background-color: rgba(0, 0, 0, 0.2);
}

.leftColumn img {
    width: 95%;
    height: auto;
}

.footer {
    padding:  15px;
    background-color: rgba(0, 0, 0, 0.2);
}

#blue {
    color: #A8E8FB;
    font-size: 20px;
    font-style: bold;
}

#yellow {
    color: #DBC200;
    font-size: 25px;
    font-style: bold;
}

body {
    background: #fff;
    background-image: url('http://i.imgur.com/eAqeAtI.png');
}

#about {
    font-size: 13px;
}

h1 {
    font-family: Candara;
    color: #fff;
    text-align: right;
    padding: 0px 20px 0px 0px;
    text-shadow: 3px 3px #000;
}

h2 {
    font-size: 22px;
    font-family: Candara;
    color: #fff;
    text-align: right;
    padding: 0px 20px 0px 0px;
    text-shadow: 3px 3px #000;
}

a:active {
    color: #000;
    text-decoration: none;
    font-style: bold;
}

a:hover {
    color: #000;
    text-decoration: none;
    font-style: bold;
}

a:link {
    color: #000;
    text-decoration: none;
    font-style: bold;
}

a:visited {
    color: #000;
    text-decoration: none;
    font-style: bold;
}

.tableHeader {
    font-family: Verdana;
    font-size: 18px;
    font-style: bold;
    text-align: left;
    color: #000;
    background-color: #E9EFF2;
    border: 3px solid #E9EFF2;
    border-bottom-color: #BCB8A0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 5px 0px 5px 5px;
}

.cellMargin {
    margin: 10px;
}

#firstRow {
    color: #DBC200;
    font-size: 22px;
    font-style: bold;
    margin: 10px;
}

#secondRow {
    color: #fff;
    font-size: 18px;
    font-style: bold;
    margin: 10px;
}

#thirdRow {
    margin: 10px;
}

.select {
    margin: 10px;
}

.choose {
    color: #fff;
    font-family: Verdana;
    text-shadow: 3px 3px #000;
    margin: 10px;
}